#navmenu{
text-decoration: underline !important;
color: black;
justify-content: space-evenly !important;
padding: 30px;
font-weight: bold;

}
.fa-brands{
    color: black !important;
    padding:10px;
}
 
#navmenu a{
    color: black !important;  
    
}


h1{
    padding-top:20px;
    font-size: 80px;
    padding-left: 30px;
    grid-area: headersss;
    display:grid;
}

a{
    text-decoration: none;
}
.rse{
    border: 1px solid; 
    margin: 70px;
    margin-top: 30px;
    display:grid;
    grid-template-areas: 
    "headersss birth"
    "text birth"
    "newtext birth";

    font-family:sans-serif;
   
    
}
.rse p{
    font-size: 20px;
    grid-area: text;
    display:grid;
    padding-right: 100px;
    padding-left: 30px;
    font-size: 26px;
    
}

.birth-control{
   max-width: 100%;
    height:400px;
    object-fit: cover;
    padding: 30px;
    display:grid;
    grid-area: birth;
 
}
.socials{
    font-size: 40px;
 

}

.socials p{
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.first{
background-color: #F4E9DC ;
padding-bottom: 20px;
}

/*second section*/
 .second{
    background-color: #231f20;
    color: #F4E9DC;
    font-family:sans-serif;
    padding-left: 70px;
    display: grid;
    grid-template-columns: 40% ,60%;
    grid-template-rows: 5%, 95% ;
    grid-template-areas: 
    "text1 smolblack"
    "texting woods"
    ;
    padding: 50px;
    
 }

 .textonly{
 display: grid;
 grid-area: texting;
 padding:20px;
 font-size: 18px;

 }


 .woods{
    max-width: 350px;
    height:440px;
    object-fit: cover;
    display: grid;
    grid-area: woods;
    padding: 50px;
    padding-top: 25px;
    padding-left: 30px

 }
 .text1{
    grid-area: text1;
    padding-left: 30px;
    padding-top: 20px;
 }


.whole{
  display: flex;  
  justify-content: end;
  grid-area: smolblack;
  
}

 .smolblack{
    display: flex; 
    justify-content: end;
    max-width: fit-content;
    
 }

 /*Third section*/

 #servicesweachieve{
    background-color:#F4E9DC;
    
 }


 .third{
    background-color: #F4E9DC;
    display:grid;
    grid-template-rows: 60px 400px 45px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". teachinginform smol"
    "core lessons other"
    ". contactus ."

    
    ;
    padding: 60px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#231f20;
 }

 .core{
    grid-area: core;
 }
 .lessons{
    grid-area: lessons;
 }

 .other{
    grid-area: other;
 }



 .heading3{

  display: grid;
  grid-area: teachinginform;
 justify-content: center;
 padding: 20px;

 }

 .card{
    border: none !important;
    background-color: #F4E9DC;
    padding: 20px;
    text-align: center;
    padding-top: 10px;
    font-size: 19px;
    padding-top: 40px;
   
 }
 h4{
    text-decoration: underline;
    padding: 10px;
    font-weight: 400;
 }


#contact-us{
    
    background-color:#231f20;
    font-size: 20px;
    border-radius: 0;
    border: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #F4E9DC;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    
 

}

.hello{
    grid-area: contactus;
    padding-top: 30px;
}
.smolthree{
    max-width: 70px;
 
}
.smolicon{
    grid-area: smol;
    display: flex;
    justify-content: flex-end;
    
}




/*how to contact section*/
.howtocontact{
    margin: 0 !important;
    background-color:#231f20 ;
    font-family:sans-serif;
    padding: 70px;
}
#blackback{
    background-color: #231f20 !important;
    padding:100px;
    
}

#card2{
    
    color: #F4E9DC;
    padding: 0 !important;
}

.card-title3{
    font-size: 50px;
   
}

.card-text3{
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-text4{
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#smallbutton{
    margin-top: 40px;
    background-color: #F4E9DC;
    font-size: 20px;
    border-radius: 0;
    border: none;
    font-family:sans-serif;
    color: #231f20;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}


.contactBtn2{
display: flex;
justify-content: center;
}


/* logopage */
/*fourth section*/
#blackback{
    padding: 15px !important;
}

.card-title{
    font-size: 30px;
    padding: 50px;
 
}

.logosection{
    background-color: #F4E9DC;
    justify-content: center;
    display: flex;
    padding-top: 80px;
    padding-bottom: 30px;
}

#biglogo{
    max-width:600px;
    padding: 30px;
}
.rsed{
    justify-content: center;
    display: flex;
}
.socialicons{
    justify-content: center;
    display: flex;
}
.smol{
    max-width: 70px;
}
.smolblack{
    max-width: 70px;
    justify-content: end;
}






@media only screen and (max-width: 1150px) { 
    
  html, body {
    margin: 0;
    height: 100%;

}
/* first section css media queery*/
.first{
    max-width: 100%;
    
    
}

.header{
    padding: 10px;
}

.text{
    display: block;
    font-size: 23px !important ;
    text-align: center !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    

}

.rse{
   
    vertical-align: top;
    display: inline-block;
    text-align: center;
      font-size: 2px ;
      margin: 15px;
}

.birth-control{
    width: 400px;
    height: 400px;
    margin: 0 !important;

}

/*second section css media queery*/
.second{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    max-width: 100%;
    padding: 0%;
    text-align: left;
    font-weight: bolder;
    padding: 20px;
}
.woods{
    width: 350px;
    height: 350px;
    background-color: grey;
    margin-top:30px !important;
    max-width: 100%;

}

.textonly{
    display: block;
    margin: 0 !important;
    padding: 0% !important;
    

}

.header{
    font-size: 50px;
    text-align: left;
}

.rsemain{
    margin: 0;
   
}

.socials{
justify-content: center;
padding: 0% !important;
}



.third{
    vertical-align: top;
    display: inline-block;
    font-weight: bolder;
}

h3{
    font-size:32px;
}


.card{
padding:0;
}
}


/*third section*/
#contact-us{
    justify-content: center;
    display: flex;
    margin: 0 !important;
}

