#navmenu{
text-decoration: underline !important;
color: black;
justify-content: space-evenly !important;
padding: 30px;
font-weight: bold;

}
.fa-brands{
    color: black !important;
}
 
#navmenu a{
    color: black !important;  
    
}


h1{
    padding-top:20px;
    font-size: 80px;
    padding-left: 30px;
    grid-area: headersss;
    display:grid;
}

a{
    text-decoration: none;
}
.rse{
    border: 1px solid; 
    margin: 70px;
    margin-top: 30px;
    display:grid;
    grid-template-areas: 
    "headersss birth"
    "text birth"
    "newtext birth";

    font-family:sans-serif;
   
    
}
.rse p{
    font-size: 20px;
    grid-area: text;
    display:grid;
    padding-right: 100px;
    padding-left: 30px;
    font-size: 26px;
    
}

.birth-control{
   max-width: 100%;
    height:400px;
    object-fit: cover;
    padding: 30px;
    display:grid;
    grid-area: birth;
 
}
.socials{
    font-size: 40px;
    padding-left: 30px;
    padding-top: 10px;
}

.socials p{
    font-size: 20px;
    padding-left: 10px !important ;
    font-weight: bold;
    
}

.first{
background-color: #F4E9DC ;
padding-bottom: 20px;
}

/*second section*/
 .second{
    background-color: #231f20;
    color: #F4E9DC;
    font-family:sans-serif;
    padding-left: 70px;
    display: grid;
    grid-template-areas: "texting woods"
    
 }

 .textonly{
 display: grid;
 grid-area: texting;
 margin-left: 100px;
 margin-right: 233px;
 margin-top: 10px;
 

 }


 .woods{
    max-width: 400px;
    height:490px;
    object-fit: cover;
    display: grid;
    grid-area: woods;
    margin-top: 90px;
    margin-right: 90px;
  
 }

 /*Third section*/

 #servicesweachieve{
    background-color:#F4E9DC;
 }


 .third{
    background-color: #F4E9DC;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "services services services"
    "training teaching curr"
    ;
    padding: 20px;
    font-family:sans-serif;
    color:#231f20;
 }

 .heading3{

  display: grid;
  grid-area: services;
 justify-content: center;
 padding: 10px;
 }

 .card{
    border: none !important;
    background-color: #F4E9DC;
    padding: 35px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    
 }
 h4{
    text-decoration: underline;
    padding: 10px;
 }


#contact-us{
    margin-top: 60px;
    background-color: #231f20;
    font-size: 20px;
    border-radius: 0;
    border: none;
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 50%;

}

/*hor to contact section*/
.howtocontact{
    margin: 0 !important;
    background-color:#231f20 ;
    font-family:sans-serif;
    padding: 70px;
}
#blackback{
    background-color: #231f20 !important;
    padding:100px;
    
}

#card2{
    
    color: #F4E9DC;
    padding: 0 !important;
}

.card-title{
    font-size: 70px;
    padding: 30px;
}

.card-text{
    font-size: 22px;
}

#smallbutton{
    margin-top: 40px;
    background-color: #F4E9DC;
    font-size: 20px;
    border-radius: 0;
    border: none;
    font-family:sans-serif;
    color: #231f20;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}


@media only screen and (max-width: 1150px) { 
    
  html, body {
    margin: 0;
    height: 100%;

}
/* first section css media queery*/
.first{
    max-width: 100%;
    
    
}

.header{
    padding: 10px;
}

.text{
    display: block;
    font-size: 23px !important ;
    text-align: center !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    

}

.rse{
   
    vertical-align: top;
    display: inline-block;
    text-align: center;
      font-size: 2px ;
      margin: 15px;
}

.birth-control{
    width: 400px;
    height: 400px;
    margin: 0 !important;

}

/*second section css media queery*/
.second{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    max-width: 100%;
    padding: 0%;
    text-align: left;
    font-weight: bolder;
    padding: 20px;
}
.woods{
    width: 350px;
    height: 350px;
    background-color: grey;
    margin-top:30px !important;
    max-width: 100%;

}

.textonly{
    display: block;
    margin: 0 !important;
    padding: 0% !important;
    

}

.header{
    font-size: 50px;
    text-align: left;
}

.rsemain{
    margin: 0;
   
}

.socials{
justify-content: center;
padding: 0% !important;
}

.rsed{
padding:20px !important;
}

.third{
    vertical-align: top;
    display: inline-block;
    font-weight: bolder;
}

h3{
    font-size:32px;
}


.card{
padding:0;
}
}


/*third section*/
#contact-us{
    justify-content: center;
    display: flex;
    margin: 0 !important;
}

/*fourth section*/
#blackback{
    padding: 15px !important;
}

.card-title{
    font-size: 30px;
    padding: 50px;
 
}

.logosection{
    background-color: #F4E9DC;
    justify-content: center;
    display: flex;
}